body {
    background-color: grey;
    display: flex;
    justify-content: center;
}

h3 {
  text-align: center;
}

h2 {
  justify-content: center;
  text-align: center;
}

.gameRoomContainer {
  background-color: white;
  border: thick solid lightblue;
  border-radius: 15px;
  padding: 20px;
  margin-top: 15%;
}

.gameBoard {
  display: flex;
  border: thick solid burlywood;
  border-radius: 15px;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
  width: 900px;
  background-image: url("./resources/board.png");
  background-size: contain;
}

.gameRow {
  display: flex;
  justify-content: space-around;
  height: 18%;
}

.gameCell {
  height: 90%;
  width: 9%;
  margin: 7px;
  outline: none;
}

.selected {
  border: thick solid lightblue !important;
  border-radius: 125px;
}

.playerOne {
  background-color: lightgoldenrodyellow;
  border: thick solid burlywood;
  border-radius: 125px;
  background-image: linear-gradient(lightgoldenrodyellow, darkkhaki);
}

.playerTwo {
  background-color: darkslategray;
  border: thick solid burlywood;
  border-radius: 125px;
  background-image: linear-gradient(darkslategray, black);
}

.form-container {
  width: 55%;
}

.form-group {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 15%;
  border: thick solid lightblue;
  border-radius: 15px;
  width: 100%;
  margin-left: 33%;
  margin-right: 33%;
}

.formButton {
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

#password {
  margin-left: 15px;
  border-radius: 5px;
}

#yourTurn {
  text-align: center;
  background-color: lightgreen;
  justify-content: center;
  justify-self: center;
  padding: 20px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 10px;
  border: thick solid green;
}

#waiting {
  text-align: center;
  background-color: lightyellow;
  justify-content: center;
  justify-self: center;
  padding: 20px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 10px;
  border: thick solid yellow;
}

#hovered {
  border: 3px solid red;
  border-radius: 125px;
}

#roomID {
  text-align: right;
}

#App {
  width: 952px;
}

#header {
  text-align: center;
}